
@media (min-width: 740px) {
  .hamburger {
    display: none;
  }
  .main-nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    position: absolute;
    top: 0;
    right: 10px;
    border: none;
  }
}

