body::after {
  content: "";
  position: fixed;
  z-index: -100;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0;

  transition: .3s;
}

body.modal-active::after {
  display: block;
  z-index: 400;
  opacity: .5;
}

.modal {
  width: 50vw;
  max-width: 600px;
  position: fixed;
  left: 50%;
  top: 50%;
  opacity: 0;
  background-color: #eee;
  transform: translate(-50%, -50%) scale(0);
  color: #303030;
  font-size: 25rem;
  text-align: center;
  padding: 15px;
	border-radius: 10px;

  transition: .3s;
}

.modal header {
  font-size: 30rem;
  margin: 20rem 0;
  letter-spacing: 2px;
  color: #cd6133;
}

.modal.active {
  z-index: 500;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.modal-close-btn {
  width: 100px;
  height: 30px;
  color: #3c6382;
  text-align: center;
  margin-left: auto;
  cursor: pointer;
  border: 2px solid transparent;
	font-size: 20rem;

  transition: border .5s;
}

.modal-close-btn:hover {
  border: 2px solid #3c6382;
}

@media (min-width: 740px) {
	.about-us{
		padding: 20px 300px;
	}
  .offers {
    overflow: auto;
		padding: 20px 300px;
  }
	.offers-blocks{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-around;
	}

  .one-offer {
    width: calc(50% - 300px);
		min-width: 300px;
		max-height: 80px;
		height:80px;
    margin-right: 100px;
		margin-left: 100px;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .one-offer.opened-offer {
    max-height: 50px;
  }

	body{
	font-weight: 400;
}
  .hamburger {
    display: none;
  }

  .main-nav {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    position: absolute;
    top: 100vh;
    right: 10px;
    border: none;
  }
	.page-header{
		width: 100%;
		height: 100vh;
		position: static;
		background-image: url(../img/adult-architect-architectural-design-1260309.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
	}
	.logo{
		position: absolute;
		top: calc(50vh - 150px);
		left: calc(50vw - 350px);
		max-width:700px;
		width:700px;
	}
	.page-footer{
		display: flex;
		justify-content: center;
		padding-bottom: 60px;
		font-size: 20rem;
		padding-top: 40px;
	}
	.page-footer .google-map {
		width: 400px;
		height: 200px;
	}
	.contacts{
		margin-right: 10%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.map{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.page-author{
		position: absolute;
		bottom:5px;
		font-size:14rem;
	}
	main{
		font-size:25rem;
		line-height: 50px;
		padding-top: 0;
	}
	.arrow{
		display: block;
		position:absolute;
		top:85%;
		left:50%;
		transform: translate(-50%,-50%) rotate(-90deg);
		border-radius: 90px;
	}
	.arrow :hover{
		animation-name: jump;
		animation-duration: .8s;
		animation-iteration-count: infinite;
	}
	.about-us{
		padding: 20px 60px;
	}
}
@keyframes jump {
	40%{
		transform: translate(0,0);
	}
	80%{
		transform: translate(10px,0);
	}
}
