.one-offer{
	width: 100%;
	min-height: 40px;
	max-height: 40px;
	background-color: white;
	box-shadow: 0 4px 8px 0 #404040;
	margin: 20px 0;
	display:flex;
	text-align: center;
	padding-top: 15px;
	
	overflow: hidden;
	
	transition: max-height 1s, padding-bottom 0.5s;
}
.one-offer:hover{
	box-shadow: 0 8px 16px 0 #505050;
	max-height: 500px;
	padding-bottom: 15px;
}