html {
  font-size: 1px;
}

* {
  margin: 0;
  padding: 0;
}

/*

@font-face {
  font-family: 'RollandinEmilie';
  src: url(fonts/RollandinEmilie.otf);
}
*/

body {
  /*  font-family: 'RollandinEmilie';*/
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  color: transparent;
  background-color: white;
}

.page-header {
  background-color: #aaa;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #aaa;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.page-header .slider {
  display: none;
}
.logo {
  width: 200px;
  max-width: 400px;
  margin: 10px;
}

.logo img {
  width: 100%;
}

.hamburger {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-right: 20px;
}

.hamburger-block {
  width: 100%;
  height: 8px;
  background-color: #cd6133;
  transition: 0.4s;
  border-radius: 5px;
}
.arrow{
	display:none;
}
.page-header.opened-nav .hamburger-block {
  background-color: #cd6133;
}

.hamburger-block.middle {
  margin: 8px 0;
}

.page-header.opened-nav .hamburger-block.top {
  transform: translate(0, 16px) rotate(45deg);
}

.page-header.opened-nav .hamburger-block.middle {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.page-header.opened-nav .hamburger-block.bottom {
  transform: translate(0, -16px) rotate(-45deg);
}

.main-nav {
  display: none;
  position: fixed;
  top: 100px;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cd6133;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #aaa;
  z-index: 10;
  box-shadow: 0 0 0 0 transparent;
  transform: translateX(-100vw);

  transition: height .5s ease 0s, transform .5s ease .6s, box-shadow .5s ease .6s;
}

body.loaded .main-nav {
  box-shadow: 0 0 12px 2px #333; 
}

.page-header.opened-nav + .main-nav {
  height: 300px;
}

.menu-btn {
  text-decoration: none;
  color: #505050;
  font-size: 25rem;
  margin: 8px 0;
  padding: 7px;
  border: 2px solid transparent;

  transition: .3s;
}

 .menu-btn::before {
  content: "";
  width: 32rem;
  height: 32rem;
  display: inline-block;
  margin-right: 20rem;
  transform: translateY(20%);
}

.menu-btn.about-us-btn::before {
  background: url(../img/info.png);
}

.menu-btn.offer-btn::before {
  background: url(../img/edit.png);
}

.menu-btn.contact-btn::before {
  background: url(../img/contact2.png);
} 
.menu-btn.implementations-btn::before {
  background: url(../img/tools.png);
} 

.menu-btn.about-us-btn::before,
.menu-btn.offer-btn::before,
.menu-btn.contact-btn::before, 
.menu-btn.implementations-btn::before {
  background-size: cover;
}

.menu-btn:hover {
  border-color: #cd6133;
}

main {
  padding-top: 100px;
  width: 100%;
  box-sizing: border-box;
  font-size: 17rem;
  color: #d6d6d6;
  overflow: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
}

h1 {
  display: inline-block;
  margin-left:50%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  transform: translateX(-50%);
}
h1::after{
  content: "";
  width: 15px;
  height: 10px;
  border-left: 1px solid #cd6133;
  border-top: 1px solid #cd6133;
  position: absolute;
  left:-5%;
  top:-5%;
}
h1::before{
  content: "";
  width: 15px;
  height: 10px;
  border-right: 1px solid #cd6133;
  border-bottom: 1px solid #cd6133;
  position: absolute;
  right:-5%;
  bottom:-5%;
}
.about-us h1::after{
  border-color: #303030;
}
.about-us h1::before{
  border-color: #303030;
}

p {
  margin-bottom: 40px;
}

.page-footer {
  background-color: #202020;
  overflow: auto;
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 5px;
  font-size: 14rem;
  color: #d6d6d6;
}

.page-footer h2 {
  font-size: 20rem;
  margin: 10px 0;
  margin-top: 30px;
	color:#d6d6d6;
}

.page-footer h2:first-child {
  margin-top: 0;
}

.page-footer p {
  margin: 5px 0;
}

.page-footer .contacts,
.page-footer .map {
  margin-bottom: 20px;
}

.page-footer .contact {
  color: #cd6133;
}

.page-footer .contact::before {
  content: "";
  width: 24rem;
  height: 24rem;
  transform: translateY(25%);
  margin-right: 10rem;
  display: inline-block;
}

.page-footer .contact.phone::before {
  background: url(../img/phone.png);
}

.page-footer .contact.mail::before {
  background-image: url(../img/mail.png);
}

.page-footer .google-map {
  width: 100%;
  height: 50vw;
}

.page-footer .page-author {
  text-align: center;
}

.page-footer a {
  color: #cd6133;
  text-decoration: none;
}

.about-us {
  background-color: #cd6133;
}

.offers {
  background-color: #404040;
}

.offers, 
.about-us,
.implementations {
  padding: 15px;
}

.curtain-0,
.curtain-1,
.curtain-2 {
  height: 100vh;
  width: 0;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;
}

.container,
.curtain-0,
.curtain-1,
.curtain-2,
.page-header {
  transition-timing-function: ease;
  transition-duration: .5s;
}

.curtain-0 {
  background-color: #000;
}

.curtain-1 {
  background-color: #cd6133;
  transition-delay: .2s;
}

.curtain-2 {
  background-color: #515047;
  transition-delay: .4s;
}

body.loaded .curtain-0,
body.loaded .curtain-1,
body.loaded .curtain-2 {
  width: 100vw !important;
}

.container,
.page-header {
  transform: translateX(-100vw);
  transition-delay: .6s;
}

.container {
  max-width: 100%;
  background-color: #212121;
}

body.loaded .container,
body.loaded .page-header,
body.loaded .main-nav {
  transform: translateX(0);
}

/*===========================================*/

.offers-blocks ul {
  margin-left: 20px;
}

.one-offer {
  width: 100%;
  margin: 20px 0;
  text-align: left;
  box-sizing: border-box;
/*  border-bottom: 1px solid #cd6133;*/
}

.one-offer header h2 {
  margin-bottom: 20px;
}
.one-offer section {
  margin: 50px 0 15px 0;
}
.one-offer section header {
  color: #af5027;

  transition: color .5s;
}

.one-offer section header,
.one-offer header h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;  
  width: 400px;
  max-width: 100%;
  padding: 5px;
  border-bottom: 1px solid #af5027;
}
.one-offer section header{
    border-bottom: 1px solid white;
}
h3{
    font-weight: normal;
}

.one-offer,
.one-offer section {
  min-height: 45px;
  max-height: 45px;
  overflow: hidden;

  transition: max-height 1.4s, box-shadow .2s, transform .2s;
}

.one-offer .underline{
  position:absolute;
  width:200px;
  height: 5px;
  color:red;
  top:0;
}
.one-offer h5 {
  margin: 0;
  margin-top: 20px;
  color: #151515;
  font-size: 22rem;
    font-weight: 500;
}
.one-offer h2 {
  font-weight: normal;
  font-size: 20rem;
    transition: color .5s;
    font-weight: 500;
}

.one-offer p {
  margin-top: 20px;
  margin-bottom: 0;
}

.opened-offer {
  max-height: 10000px !important;
  transition: max-height 3s;
}

.one-offer.opened-offer h2{
    border:1px solid #af5027;  
}
.one-offer h2:click {
  color:#cd6133;
}
.one-offer section header:click{
  color:white;
}
.one-offer section.opened-offer header {
    border:1px solid white;
}

/*===========================================*/

.implementations {
  background-color: #303030;
  overflow: auto;
  color: white;
  padding-bottom: 70px;
}

/* Slider */

.implementations .slider {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.page-header .slider,
.header-slider-img,
.slider-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.header-slider-img,
.slider-img {
  background-position: center;
  background-size: cover;
  transform: translateX(-100%);
  z-index: 0;
  
  transition: transform 1s;
  transition-delay: 1s;
}

.slider-img {
  transition: transform 1s, z-index 3s;
}

.header-slider-img.active,
.slider-img.active {
  transform: translateX(0);
  z-index: 1;
  transition-delay: 0s;
  box-shadow: -2px 0 100px 5px #666666;
}

.slider-img.active {
  transition: transform 1s, z-index 0s;
}

.implementations .slider-img-1 {
  background-image: url("../img/1.jpg");    
}

.implementations .slider-img-2 { 
  background-image: url("../img/2.jpg");  
}

.previous-slide-btn,
.next-slide-btn {
  width: 40px;
  height: 40px;
  border: 2px solid #303030;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 5;
  font-size: 100%;
  color: #303030;

  transition: color .2s, border-color .2s, opacity .2s;
}

.previous-slide-btn:hover,
.next-slide-btn:hover {
  color: #af5027;
  border-color: #af5027;
  opacity: 1;
  cursor: pointer;
}

.previous-slide-btn:focus,
.next-slide-btn:focus {
  outline: none;
}

.previous-slide-btn {
  left: 0;
  transform: translateX(100%);
}

.next-slide-btn {
  right: 0;
  transform: translateX(-100%);
}