html {
  font-size: 1px;
}

* {
  margin: 0;
  padding: 0;
}

/*

@font-face {
  font-family: 'RollandinEmilie';
  src: url(fonts/RollandinEmilie.otf);
}
*/

body {
  /*  font-family: 'RollandinEmilie';*/
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  color: transparent;
  background-color: white;
}

.page-header {
  background-color: #aaa;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #aaa;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.logo {
  width: 200px;
  max-width: 400px;
  margin: 10px;
}

.logo img {
  width: 100%;
}

.hamburger {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  margin-top: 20px;
}

.hamburger-block {
  width: 100%;
  height: 8px;
  background-color: #e55039;
  transition: 0.4s;
  border-radius: 5px;
}
.arrow{
	display:none;
}
.page-header.opened-nav .hamburger-block {
  background-color: #e55039;
}

.hamburger-block.middle {
  margin: 8px 0;
}

.page-header.opened-nav .hamburger-block.top {
  transform: translate(0, 16px) rotate(45deg);
}

.page-header.opened-nav .hamburger-block.middle {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.page-header.opened-nav .hamburger-block.bottom {
  transform: translate(0, -16px) rotate(-45deg);
}

.main-nav {
  display: none;
  position: fixed;
  top: 100px;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #e55039;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #aaa;
  z-index: 10;
  box-shadow: 0 0 0 0 transparent;
  transform: translateX(-100vw);

  transition: height .5s ease 0s, transform .5s ease .6s, box-shadow .5s ease .6s;
}

body.loaded .main-nav {
  box-shadow: 0 0 12px 2px #333; 
}

.page-header.opened-nav + .main-nav {
  height: 250px;
}

.menu-btn {
  text-decoration: none;
  color: #505050;
  font-size: 25rem;
  margin: 8px 0;
  padding: 7px;
  border: 2px solid transparent;

  transition: .3s;
}

.menu-btn::before {
  content: "";
  width: 32rem;
  height: 32rem;
  display: inline-block;
  margin-right: 20rem;
  transform: translateY(20%);
}

.menu-btn.about-us-btn::before {
  background: url(../img/engineer.png);
}

.menu-btn.offer-btn::before {
  background: url(../img/sketch.png);
}

.menu-btn.contact-btn::before {
  background: url(../img/contact.png);
}

.menu-btn.about-us-btn::before,
.menu-btn.offer-btn::before,
.menu-btn.contact-btn::before {
  background-size: cover;
}

.menu-btn:hover {
  border-color: #e55039;
}

main {
  padding-top: 100px;
  width: 100%;
  box-sizing: border-box;
  font-size: 17rem;
  color: #d6d6d6;
  overflow: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
}

h1 {
  margin: 20px 0;
  font-size: 30rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

p {
  margin-bottom: 40px;
}

.page-footer {
  background-color: #151515;
  overflow: auto;
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 5px;
  font-size: 14rem;
  color: #d6d6d6;
}

.page-footer h2 {
  font-size: 20rem;
  margin: 10px 0;
  margin-top: 30px;
	color:#d6d6d6;
}

.page-footer h2:first-child {
  margin-top: 0;
}

.page-footer p {
  margin: 5px 0;
}

.page-footer .contacts,
.page-footer .map {
  margin-bottom: 20px;
}

.page-footer .contact {
  color: #cd6133;
}

.page-footer .contact::before {
  content: "";
  width: 24rem;
  height: 24rem;
  transform: translateY(25%);
  margin-right: 10rem;
  display: inline-block;
}

.page-footer .contact.phone::before {
  background: url(../img/phone.png);
}

.page-footer .contact.mail::before {
  background-image: url(../img/mail.png);
}

.page-footer .google-map {
  width: 100%;
  height: 50vw;
}

.page-footer .page-author {
  text-align: center;
}

.page-footer a {
  color: #cd6133;
  text-decoration: none;
}

.about-us {
  background-color: #cd6133;
}

.offers {
  background-color: #515047;
}

.offers, 
.about-us {
  padding: 15px;
}

.curtain-0,
.curtain-1,
.curtain-2 {
  height: 100vh;
  width: 0;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;
}

.container,
.curtain-0,
.curtain-1,
.curtain-2,
.page-header {
  transition-timing-function: ease;
  transition-duration: .5s;
}

.curtain-0 {
  background-color: #000;
}

.curtain-1 {
  background-color: #cd6133;
  transition-delay: .2s;
}

.curtain-2 {
  background-color: #515047;
  transition-delay: .4s;
}

body.loaded .curtain-0,
body.loaded .curtain-1,
body.loaded .curtain-2 {
  width: 100vw !important;
}

.container,
.page-header {
  transform: translateX(-100vw);
  transition-delay: .6s;
}

.container {
  max-width: 100%;
  background-color: #212121;
}

body.loaded .container,
body.loaded .page-header,
body.loaded .main-nav {
  transform: translateX(0);
}

/*===========================================*/

.offers-blocks ul {
  margin-left: 20px;
}

.one-offer {
  width: 100%;
  min-height: 35px;
  max-height: 35px;
  margin: 20px 0;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
/*  border-bottom: 1px solid #cd6133;*/

  transition: max-height .7s, box-shadow .2s, transform .2s;
}

.one-offer header h2 {
  margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
.one-offer section header {
  margin: 50px 0 15px 0;
  text-align: center;
  color: #151515;
  text-transform: uppercase;
}
.one-offer .underline{
  position:absolute;
  width:200px;
  height: 5px;
  color:red;
  top:0;
}
.one-offer h5 {
  margin: 0;
  margin-top: 20px;
  color: #151515;
  font-size: 22rem;
}
.one-offer h2 {
  font-weight: normal;
  font-size: 20rem;
    transition: color .5s;
    font-weight: 500;
}

.one-offer h2 {
  font-weight: normal;
  font-size: 20rem;
    transition: color .5s;
}

.one-offer p {
  margin-top: 20px;
  margin-bottom: 0;
}

.one-offer.opened-offer {
  max-height: 10000px;
  transition: max-height 1s;
}
.one-offer.opened-offer h2,
.one-offer:hover h2 {
    color:#cd6133;
}

/*===========================================*/
