html {
  font-size: 1px;
}

* {
  margin: 0;
  padding: 0;
}

/*

@font-face {
  font-family: 'RollandinEmilie';
  src: url(fonts/RollandinEmilie.otf);
}
*/

body {
  /*  font-family: 'RollandinEmilie';*/
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  color: transparent;
  background-color: white;
}

.page-header {
  background-color: #aaa;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.logo {
  width: 200px;
  max-width: 400px;
  margin: 10px;
}

.logo img {
  width: 100%;
}

.hamburger {
  width: 60px;
  height: 60px;
  margin-right: 40px;
  margin-top: 40px;
  margin-right: 20px;
  margin-top: 20px;
}

.hamburger-block {
  width: 100%;
  height: 8px;
  background-color: #e55039;
  transition: 0.4s;
  border-radius: 5px;
}

.page-header.opened-nav .hamburger-block {
  background-color: #e55039;
}

.hamburger-block.middle {
  margin: 8px 0;
}

.page-header.opened-nav .hamburger-block.top {
  transform: translate(0, 16px) rotate(45deg);
}

.page-header.opened-nav .hamburger-block.middle {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.page-header.opened-nav .hamburger-block.bottom {
  transform: translate(0, -16px) rotate(-45deg);
}

.main-nav {
  display: none;
  position: absolute;
  top: 100px;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #e55039;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #aaa;

  transition: height .5s;
}

.page-header.opened-nav .main-nav {
  height: 250px;
}

.menu-btn {
  text-decoration: none;
  color: #505050;
  font-size: 25rem;
  margin: 8px 0;
  padding: 7px;
  border: 2px solid transparent;

  transition: .3s;
}

.menu-btn::before {
  content: "";
  width: 32rem;
  height: 32rem;
  display: inline-block;
  margin-right: 20rem;
  transform: translateY(20%);
}

.menu-btn.about-us-btn::before {
  background: url(../img/engineer.png);
}

.menu-btn.offer-btn::before {
  background: url(../img/sketch.png);
}

.menu-btn.contact-btn::before {
  background: url(../img/contact.png);
}

.menu-btn.about-us-btn::before,
.menu-btn.offer-btn::before,
.menu-btn.contact-btn::before {
  background-size: cover;
}

.menu-btn:hover {
  border-color: #e55039;
}

main {
  width: 100%;
  box-sizing: border-box;
  font-size: 17rem;
  color: #d6d6d6;
  overflow: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
}

h1 {
  margin: 20px 0;
  font-size: 30rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 4px;
  text-transform: uppercase;
}

p {
  margin-bottom: 40px;
}

.page-footer {
  background-color: #151515;
  overflow: auto;
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 5px;
  font-size: 14rem;
  color: #d6d6d6;
}

.page-footer h2 {
  font-size: 20rem;
  margin: 10px 0;
  margin-top: 30px;
	color:#d6d6d6;
}

.page-footer h2:first-child {
  margin-top: 0;
}

.page-footer p {
  margin: 5px 0;
}

.page-footer .contact {
  color: #e55039;
}

.page-footer .contact::before {
  content: "";
  width: 24rem;
  height: 24rem;
  transform: translateY(25%);
  margin-right: 10rem;
  display: inline-block;
}

.page-footer .contact.phone::before {
  background: url(../img/phone.png);
}

.page-footer .contact.mail::before {
  background-image: url(../img/mail.png);
}

.page-footer .google-map {
  width: 100%;
  height: 50vw;
}

.page-footer .page-author {
  text-align: center;
}

.page-footer a {
  color: #e55039;
  text-decoration: none;
}

.about-us {
  background-color: #e55039;
  padding: 40px;
}

.offers {
  background-color: #60a3bc;
  padding: 40px;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(1);
  }
}

.curtain-0,
.curtain-1,
.curtain-2 {
  height: 100vh;
  width: 0;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;
}

.container,
.curtain-0,
.curtain-1,
.curtain-2,
.page-header {
  transition-timing-function: ease;
  transition-duration: .5s;
}

.curtain-0 {
  background-color: #000;
}

.curtain-1 {
  background-color: #e55039;
  transition-delay: .2s;
}

.curtain-2 {
  background-color: #60a3bc;
  transition-delay: .4s;
}

body.loaded .curtain-0,
body.loaded .curtain-1,
body.loaded .curtain-2 {
  width: 100vw !important;
}

.container,
.page-header {
  transform: translateX(-100vw);
  transition-delay: .6s;
}

.container {
  max-width: 100%;
  background-color: #212121;
}

body.loaded .container,
body.loaded .page-header {
  transform: translateX(0);
}

/*===========================================*/

.one-offer {
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  background-color: #3c6382;
  box-shadow: 0 4px 8px 0 #3d3d3d;
  margin: 20px 0;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid #ff3112;
	border-radius: 10px;

  transition: max-height .7s, box-shadow .2s, transform .2s;
}

.one-offer:hover {
  box-shadow: 0 8px 16px 0 #3d3d3d;
}

.one-offer header {
  margin-bottom: 20px;
}

.one-offer p {
  margin-top: 20px;
  margin-bottom: 0;
}

.one-offer.opened-offer {
  box-shadow: 0 8px 16px 0 #505050;
  max-height: 1000px;
  transition: max-height 1s;
}

/*===========================================*/